<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current Time</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20vh;
            margin: 0;
        }

        h1, p {
            text-align: center;
            color: slategrey;
        }
    </style>
</head>
<body>
<div>
    <h1>Current Time</h1>
    <p th:text="${currentTime}"></p>
</div>
</body>
</html>